/* Roots
========================================================================== */
/*
 * Global Fonts and Colors ---------
 * Font: "Lexend", sans-serif
 * Primary Color: #E6533C
 * Text Color: #FFFFFF
 * Others: Background: #222222
 */

:root {
    --content-width: 1140px;
    --gap: 20px;
    --column-padding: 10px;

    --primary-color: #b4f461;
    --bg-color: #f9f7f3;
    --heading-color: #111111;
    --text-color: rgba(17, 17, 17, 0.7);
    --border-color: rgba(17, 17, 17, 0.3);

    --primary-font: 'Lexend', sans-serif;
}

/* Global CSS Style
========================================================================== */
* {
    transition: all 0.2s;
    font-family: var(--primary-font);
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/*
 * Sections and columns Structure ---------
 */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: var(--content-width);
}
.row-full {
    max-width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--content-width);
    gap: var(--gap);
    padding: var(--column-padding);
}

/*
 * Text Styles ---------
 */
.heading {
    color: var(--heading-color);
    line-height: 1.2em;
    margin: 0;
    font-weight: 600;
}

h1.heading {
    font-size: 78px;
}

h2.heading {
    font-size: 48px;
}

h3.heading {
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 700;
}

h4.heading {
    font-size: 20px;
    line-height: 1.5em;
}

.text {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.7em;
    opacity: 0.7;
    margin: 0;
}
.text-gap {
    margin-bottom: 15px;
}

img {
    width: 100%;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

ul {
    margin: 0;
}

/* Buttons */
.button {
    background: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 12px 32px;
}

@media only screen and (max-width: 576px) {
    .row {
        flex-direction: column;
    }

    .row > div.column {
        width: 100%;
    }

    /* Text Style */
    h1.heading {
        font-size: 36px;
    }

    h2.heading {
        font-size: 32px;
    }
}
