:root {
    --content-width: 1140px;
    --gap: 20px;
    --column-padding: 10px;

    --primary-color: #b4f461;
    --bg-color: #f9f7f3;
    --heading-color: #111111;
    --text-color: #111111;
    --border-color: rgba(17, 17, 17, 0.3);

    --primary-font: 'Lexend', sans-serif;
}

/* Header */
.header-scrolled {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
}

.header-scrolled > div {
    background: transparent;
}

/* ----- Tab Buttons */
.tab-buttons button {
    background: white;
    border: 1px solid var(--border-color);
}

.tab-buttons button.active {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* Deposite Popup */
.popup-deposite.hide {
    transform: scale(0);
}

/* History message */
.h-action {
    color: blue;
}

button:hover,
input[type='submit']:hover {
    transform: scale(1.02);
}
